.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 50px;
}

@media screen and (max-width: 720px) {
  .profile {
    flex-direction: column;
    gap: 33px;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    padding: 42px 19px 36px;
  }
}
