.auth__button {
  margin-top: 168px;
}

@media screen and (max-width: 720px) {
  .auth__button {
    margin-top: 147px;
  }
}

@media screen and (max-width: 480px) {
  .auth__button {
    margin-top: 128px;
  }
}