.profile__name {
  color: #fff;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  margin: 0;
}

@media screen and (max-width: 720px) {
  .profile__name {
    font-size: 35px;
    line-height: 40px;
  }
}

@media screen and (max-width: 480px) {
  .profile__name {
    text-align: center;
    font-size: 27px;
    line-height: 33px;
  }
}
